<html>
    <head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="css/card.css" />
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container">
	<div class="row">
        <div class="col-sm-6">
            <div class="business-card">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object img-circle profile-img" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><%=Name %></h2>
                        <div class="job">CEO</div>
                        <div class="mail"><a href="mailto:daniel@bla.ch">daniel@bla.ch</a> </div>
                          <div class="description">Cn publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</div>
                    </div>
                </div>
            </div>
        </div>
      
	</div>
</div>
</body>
</html>>